@model string

<div class="form-group">
    @Html.LabelFor(x => x, htmlAttributes: new { @class = "col-md-2 control-label" })
    <div class="col-md-2">
        @Html.TextBoxFor(x => x, htmlAttributes: new { @class = "form-control", @readonly = "" })
    </div>
    <div class="col-md-4">
        <div id="demo8" class="noUi-success"></div>
    </div>
</div>