
<div class="form-group">
    <label class="control-label col-md-2" for="BoyamaProsesi">
        Boyama Prosesi:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="BoyamaProsesi"
               name="BoyamaProsesi">
    </div>
</div>



