<div class="form-group">
    <label class="control-label col-md-2" for="FlamlarArasindakiMesafe">
    İki Flam Arasındaki Mesafe:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control" 
               id="FlamlarArasindakiMesafe" 
               name="FlamlarArasindakiMesafe">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="FlamUzunlugu">
        Flam Uzunluğu:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="FlamUzunlugu"
               name="FlamUzunlugu">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="FlamYuksekligi">
        Flam Uüksekliği:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="FlamYuksekligi"
               name="FlamYuksekligi">
    </div>
</div>





