<div class="form-group">
    <label class="control-label col-md-2" for="KircillarArasiMesafe">
        İki Kırçıl Arasındaki Mesafe:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="KircillarArasiMesafe"
               name="KircillarArasiMesafe">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="KircilUzunlugu">
        Kırçıl Uzunluğu:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="KircilUzunlugu"
               name="KircilUzunlugu">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="KircilYuksekligi">
        Kırçıl Yüksekliği:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="KircilYuksekligi"
               name="KircilYuksekligi">
    </div>
</div>



