
<div class="form-group">
    <label class="control-label col-md-2" for="TurSayisi">
        Tur Sayısı:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="TurSayisi"
               name="TurSayisi">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="BukumYonu">
        Büküm Yönü:
    </label>
    <div class="col-md-10">
        <select class="form-control" name="BukumYonu" id="BukumYonu">
            <option>S</option>
            <option>Z</option>
        </select>
    </div>
</div>

