

<div class="form-group">
    <label class="control-label col-md-2" for="NoktalarArasiMesafe">
        İki Nokta Arasındaki Mesafe:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="NoktalarArasiMesafe"
               name="NoktalarArasiMesafe">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="NoktaUzunlugu">
        Nokta Uzunluğu:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="NoktaUzunlugu"
               name="NoktaUzunlugu">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="NoktaYuksekligi">
        Nokta Yüksekliği:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="NoktaYuksekligi"
               name="NoktaYuksekligi">
    </div>
</div>



