@model  Helezon.FollowMe.Service.DataTransferObjects.IplikKategoriSimDto

<div class="form-group">
    <label class="control-label col-md-2" for="SimKesimBoyutu">
        Sim Kesim Boyutu:
    </label>
    <div class="col-md-6">
        @Html.Hidden("Sim.Id", Model?.Id)
        @Html.DropDownList("Sim.SimKesimBoyutu", (IEnumerable<SelectListItem>)ViewBag.SimKesimBoyutu, new { @class = "form-control" })

        @*<input type="text"
        class="form-control mask_number transform_none"
        id="Sim_SimKesimBoyutu"
        value="@Model.SimKesimBoyutu"
        name="SimDto.SimKesimBoyutuFormat">*@
    </div>
</div>

