
<div class="form-group">
    <label class="control-label col-md-2" for="SimKesimBoyutu">
        Sim Kesim Boyutu:
    </label>
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               id="SimKesimBoyutu"
               name="SimKesimBoyutu">
    </div>
</div>

